<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>select doctors</title>
        <meta name="description" content>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/themify-icons.css">
        <link rel="stylesheet" href="../css/style.css">
        <style>
        body {
            font-family: 'poppins', sans-serif;
            background-color: #f5fbff;         
        }

        .card {
            width: 350px;
            margin: 20px;
            background-color: ;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            overflow: hidden;
            text-align: center;
        }

        .card-image {
            border-radius: 50%;
            width: 200px;
            height: 200px;
            margin: 20px auto;
            object-fit: cover;
        }

        .card-content {
            padding: 20px;
        }

        .card-name {
            font-size: 1.2rem;
            font-weight: bold;
            margin: 10px 0;
            padding: 3px;
        }

        .card-qualification {
            font-size: 1rem;
            color: black;
            margin: 5px 0;
             padding: 3px;
        }

        .card-specialization {
            font-size: 1rem;
            color: black;
            margin: 5px 0;
             padding: 3px;
        }

        .card-email {
            font-size: 1rem;
            color: black;
            margin: 5px 0;
             padding: 3px;
        }

        .card-phone {
            font-size: 1rem;
            color: black;
            margin: 5px 0;
             padding: 3px;
        }

        .appointment-button {
            background-color: #1e79a1 ;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            margin: 20px 0;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        
      
        .card-container {
           
            display: flex;
            flex-wrap: wrap; 
            justify-content: left;  /*justify the images in page (left,center ,right)*/
        }
        .slice{
            margin-top: 5%;
        }
    </style>
    </head>

    <body>
        <header>
            <div class="header-area ">
                <div id="sticky-header" class="main-header-area">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="../img/indian.png"
                                            alt="images">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/registeredHospitals">Find
                                                    Doctors</a></li>
                                            <li><a href="/registeredLab">Book
                                                    Lab Test</a></li>
                                            <li><a href="#">Service Providers<i
                                                        class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="/forHospitals">By
                                                            Hospitals</a></li>
                                                    <li><a href="/forDoctors">By
                                                            Doctors</a></li>
                                                    <li><a href="/labForm">By
                                                            Laboratory</a></li>
                                                </ul>
                                            </li>
                                             <li><a href="#">Others<i
                                                        class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                   <li><a href="/showBlogs">Read
                                                    Blogs</a></li>
                                                    <li><a href="/insurance">about government schema</a></li>
                                                    <li><a href="/findDoctors">check hospital under MA Amrutum
                                                            </a></li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="Appointment">
                                    <div class="book_btn d-none d-lg-block">
                                        <a class="popup-with-form"
                                            href="#test-form">Make an
                                            Appointment</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>
      <div class="slice">
        <h3>Here you select doctors and click to make an  appointment</h3>
      </div>
        <div class="card-container">
            {{#each doctors}}
            <div class="card">
                <img class="card-image" src="../doctorsUploads/{{images}}"
                    alt="Profile Image">
                <div class="card-content">
                    <div class="card-name"> Name : {{name}}</div>
                    <div class="card-qualification">Qualifications : {{qualifications}}</div>
                    <div class="card-specialization">Specialization :{{specialization}}</div>
                    <div class="card-email"> Email : {{email}}</div>
                    <div class="card-phone"> Phone :{{phone}}</div>
                    <a href="/appointment/{{_id}}" class="appointment-button">Make
                        an Appointment</a>
                </div>
            </div>
            {{/each}}
        </div>

        {{!-- <div class="card-group">
            {{#each doctors}}
            <div class="card">
                <img src="../doctorsUploads/{{images}}" class="card-img-top"
                    alt="images" style="width:200px;">
                <div class="card-body">
                    <h3 class="card-title">Name : {{name}}</h3>
                    <h4 class="card-title">Qualifications : {{qualifications}}</h4>
                    <h4 class="card-title">Specialization : {{specialization}}</h4>
                    <p class="card-text"> Experience : {{experience}}</p>
                    <h5 class="card-title">Email Id : {{email}}</h5>
                    <h5 class="card-title">Phone : {{phone}}</h5>
                    <a href="../doctorsUploads/{{documents}}" target="_blank">view
                        Documents</a>
                </div>
                <a href="/appointment/{{_id}}" class="open-button">Make
                    an appointment</a>

            </div>
            {{/each}}
        </div> --}}


    </body>

    {{!-- <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script> --}}

</html>