<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Laboratory Info Form</title>
    <meta name="description" content>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/themify-icons.css">
    <link rel="stylesheet" href="../css/style.css">
    <style>
        body {
            font-family: "poppins", sans-serif;
            background-color: #f5fbff;
        }

        .card {
            width: 320px;
            margin: 20px;
            background-color: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
            text-align: center;
        }

        .card-image {
            border-radius: 50%;
            width: 200px;
            height: 200px;
            margin: 20px auto;
            object-fit: cover;
        }

        .card-content {
            padding: 10px;
        }

        .card-name {
            font-size: 1.2rem;
            font-weight: bold;
            margin: 10px 0;
        }

        .card-qualification {
            font-size: 1rem;
            color: #1a1818;
            margin: 5px 0;
        }

        .card-specialization {
            font-size: 1rem;
            color: #1a1818;
            margin: 5px 0;
        }

        .card-email {
            font-size: 1rem;
            color: #1a1818;
            margin: 5px 0;
        }

        .card-phone {
            font-size: 1rem;
            color: #1a1818;
            margin: 5px 0;
        }

        .appointment-button {
            background-color:#1e79a1  ;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 10px 10px;
            margin: 20px auto;
            cursor: pointer;
            transition: background-color 0.3s;
            width: 56%;
        }

        .appointment-button:hover {
        color: black;
        }

        .card-container {

            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            /*justify the images in page (left,center ,right)*/
        }
    </style>
</head>

<body>
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="../img/indian.png" alt="images">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                               <nav>
                                     <ul id="navigation">
                                            <li><a href="/registeredHospitals">Find
                                                    Doctors</a></li>
                                            <li><a href="/registeredLab">Book
                                                    Lab Test</a></li>
                                            <li><a href="#">Service Providers<i
                                                        class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="/forHospitals">By
                                                            Hospitals</a></li>
                                                    <li><a href="/forDoctors">By
                                                            Doctors</a></li>
                                                    <li><a href="/labForm">By
                                                            Laboratory</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/showBlogs">Read
                                                    Blogs</a></li>

                                        </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <div class="book_btn d-none d-lg-block">
                                    <a class="popup-with-form" href="#test-form">Make an
                                        Appointment</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="card-container">
        {{#each packages}}

        <div class="card">
            <img class="card-image" src="../healthImages/{{labType}}.jpg" alt="Profile Image">
            <div class="card-content">
                <div class="card-name"> {{labType}}</div>
                <div class="card-qualification">Lab Test :  {{labTestName}}</div>
                <div class="card-specialization">Info : {{extraInfo}}</div>
                 <div class="card-specialization">Price : </div>
            </div>
              <a href="/bookTest/{{_id}}" class="appointment-button">Book Lab Test</a>
        </div>
        {{/each}}
    </div>



</body>



</html>